USE [OnlineCourse]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](50) NULL,
	[CourseCode] [varchar](50) NULL,
	[CourseCredit] [int] NULL,
	[CourseFee] [decimal](18, 0) NULL,
	[CourseTiming] [varchar](50) NULL,
	[TeacherID] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Adress] [varchar](50) NULL,
	[CollegeName] [varchar](50) NULL,
	[UniversityName] [varchar](50) NULL,
	[AlternativeNo] [varchar](50) NULL,
	[CoreSubject] [varchar](50) NULL,
	[MaritalStatus] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourse]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourse](
	[StudentCourseID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CourseID] [int] NULL,
 CONSTRAINT [PK_StudentCourse] PRIMARY KEY CLUSTERED 
(
	[StudentCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrade]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrade](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CourseID] [int] NULL,
	[GradeValue] [varchar](50) NULL,
	[Marks] [int] NULL,
 CONSTRAINT [PK_StudentGrade] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentPayment]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[PaymentStatus] [varchar](50) NULL,
 CONSTRAINT [PK_StudentPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[PhoneNo] [varchar](50) NULL,
	[Adress] [varchar](50) NULL,
	[MaritalStatus] [varchar](50) NULL,
	[AlternativeNo] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[YearsOfExperience] [varchar](50) NULL,
	[SubjectSpecialization] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[PreviuosInstitution] [varchar](50) NULL,
	[Education] [varchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherRating]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherRating](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[TeacherID] [int] NULL,
	[CourseID] [int] NULL,
	[RatingValue] [int] NULL,
	[Comment] [varchar](50) NULL,
 CONSTRAINT [PK_TeacherRating] PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/19/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[UserType] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CourseName], [CourseCode], [CourseCredit], [CourseFee], [CourseTiming], [TeacherID]) VALUES (1, N'English1', N'ENG101', 3, CAST(7500 AS Decimal(18, 0)), N'Sunday 8:00-10:00 am', 5)
INSERT [dbo].[Course] ([CourseID], [CourseName], [CourseCode], [CourseCredit], [CourseFee], [CourseTiming], [TeacherID]) VALUES (2, N'Introduction to Programming(C#)', N'CS101', 3, CAST(7500 AS Decimal(18, 0)), N'Monday 8:00-10:30 am', 3)
INSERT [dbo].[Course] ([CourseID], [CourseName], [CourseCode], [CourseCredit], [CourseFee], [CourseTiming], [TeacherID]) VALUES (3, N'OOP1(JAVA)', N'CS102', 3, CAST(7500 AS Decimal(18, 0)), N'Sunday 11:00am-12:30 pm', 3)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [FirstName], [LastName], [Phone], [Adress], [CollegeName], [UniversityName], [AlternativeNo], [CoreSubject], [MaritalStatus], [Gender], [UserID]) VALUES (1, N'Navid', N'Rahman', N'01766609478', N'Shamibagh,Puran Dhaka', N'DCC', N'AIUB', N'123567', N'Programing Language', N'Unmarried', N'Male', 13)
INSERT [dbo].[Student] ([StudentID], [FirstName], [LastName], [Phone], [Adress], [CollegeName], [UniversityName], [AlternativeNo], [CoreSubject], [MaritalStatus], [Gender], [UserID]) VALUES (2, N'Kamrul', N'Hasan', N'8466453672', N'Wari Dhaka', N'Dhaka College', N'IUB', N'65483', N'English', N'Married', N'Male', 14)
INSERT [dbo].[Student] ([StudentID], [FirstName], [LastName], [Phone], [Adress], [CollegeName], [UniversityName], [AlternativeNo], [CoreSubject], [MaritalStatus], [Gender], [UserID]) VALUES (3, N'Navid Fariz', N'Rahman', N'0176609478', N'Puran Dhaka', N'NDC', N'NSU', N'76483', N'Humanities', N'Unmarried', N'Male', 15)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentCourse] ON 

INSERT [dbo].[StudentCourse] ([StudentCourseID], [StudentID], [CourseID]) VALUES (45, 1, 3)
INSERT [dbo].[StudentCourse] ([StudentCourseID], [StudentID], [CourseID]) VALUES (46, 1, 10)
INSERT [dbo].[StudentCourse] ([StudentCourseID], [StudentID], [CourseID]) VALUES (47, 1, 1)
SET IDENTITY_INSERT [dbo].[StudentCourse] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentGrade] ON 

INSERT [dbo].[StudentGrade] ([GradeID], [StudentID], [CourseID], [GradeValue], [Marks]) VALUES (1, 1, 10, N'A+', 95)
INSERT [dbo].[StudentGrade] ([GradeID], [StudentID], [CourseID], [GradeValue], [Marks]) VALUES (2, 15, 4, N'A+', 98)
INSERT [dbo].[StudentGrade] ([GradeID], [StudentID], [CourseID], [GradeValue], [Marks]) VALUES (4, 4, 15, N'C', 65)
SET IDENTITY_INSERT [dbo].[StudentGrade] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentPayment] ON 

INSERT [dbo].[StudentPayment] ([PaymentID], [StudentID], [TotalAmount], [PaidAmount], [PaymentStatus]) VALUES (1, 1, CAST(46500.00 AS Decimal(18, 2)), CAST(46500.00 AS Decimal(18, 2)), N'Paid')
INSERT [dbo].[StudentPayment] ([PaymentID], [StudentID], [TotalAmount], [PaidAmount], [PaymentStatus]) VALUES (2, 15, CAST(34500.00 AS Decimal(18, 2)), CAST(34500.00 AS Decimal(18, 2)), N'Paid')
INSERT [dbo].[StudentPayment] ([PaymentID], [StudentID], [TotalAmount], [PaidAmount], [PaymentStatus]) VALUES (3, 4, CAST(42000.00 AS Decimal(18, 2)), CAST(42000.00 AS Decimal(18, 2)), N'Paid')
SET IDENTITY_INSERT [dbo].[StudentPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherID], [FirstName], [LastName], [Gender], [Nationality], [PhoneNo], [Adress], [MaritalStatus], [AlternativeNo], [Department], [YearsOfExperience], [SubjectSpecialization], [Designation], [PreviuosInstitution], [Education], [UserID]) VALUES (1, N'Navid', N'Rahman', N'Male', N'Bangladeshi', N'01766609478', N'mirpur-1', N'', N'01711969953', N'CSE', N'2', N'JAVA', N'Robotics', N'DCC', N'AIUB', 7)
INSERT [dbo].[Teacher] ([TeacherID], [FirstName], [LastName], [Gender], [Nationality], [PhoneNo], [Adress], [MaritalStatus], [AlternativeNo], [Department], [YearsOfExperience], [SubjectSpecialization], [Designation], [PreviuosInstitution], [Education], [UserID]) VALUES (2, N'Rakibul', N'Alam', N'Male', N'Bangladeshi', N'029876634', N'Puran Dhaka', N'Married', N'8676', N'BBA', N'2', N'Marketing', N'Buisness', N'CMM', N'NSU', 17)
INSERT [dbo].[Teacher] ([TeacherID], [FirstName], [LastName], [Gender], [Nationality], [PhoneNo], [Adress], [MaritalStatus], [AlternativeNo], [Department], [YearsOfExperience], [SubjectSpecialization], [Designation], [PreviuosInstitution], [Education], [UserID]) VALUES (3, N'Navid Rahman', N'Fariz', N'Male', N'Bangladeshi', N'0188888676', N'Mirpur-1', N'Single', N'999', N'CSE', N'2', N'ICT', N'Robotics', N'AUB', N'AIUB', 30)
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherRating] ON 

INSERT [dbo].[TeacherRating] ([RatingID], [StudentID], [TeacherID], [CourseID], [RatingValue], [Comment]) VALUES (1, 15, 4, 6, 3, N'Good')
INSERT [dbo].[TeacherRating] ([RatingID], [StudentID], [TeacherID], [CourseID], [RatingValue], [Comment]) VALUES (2, 15, 3, 4, 5, N'Very Good')
INSERT [dbo].[TeacherRating] ([RatingID], [StudentID], [TeacherID], [CourseID], [RatingValue], [Comment]) VALUES (3, 4, 3, 3, 4, N'Moderate')
SET IDENTITY_INSERT [dbo].[TeacherRating] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Email], [Password], [UserType]) VALUES (1, N'navid@gmail.com', N'navid123', N'Student')
INSERT [dbo].[User] ([UserID], [Email], [Password], [UserType]) VALUES (2, N'fariz@gmail.com', N'fariz22', N'Student')
INSERT [dbo].[User] ([UserID], [Email], [Password], [UserType]) VALUES (4, N'farizfrag22@gmail.com', N'n11', N'Student')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Teacher1] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Teacher1]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourse_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[StudentCourse] CHECK CONSTRAINT [FK_StudentCourse_Course]
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD  CONSTRAINT [FK_StudentCourse_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentCourse] CHECK CONSTRAINT [FK_StudentCourse_Student]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [FK_StudentGrade_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [FK_StudentGrade_Course]
GO
ALTER TABLE [dbo].[StudentGrade]  WITH CHECK ADD  CONSTRAINT [FK_StudentGrade_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentGrade] CHECK CONSTRAINT [FK_StudentGrade_Student]
GO
ALTER TABLE [dbo].[StudentPayment]  WITH CHECK ADD  CONSTRAINT [FK_StudentPayment_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentPayment] CHECK CONSTRAINT [FK_StudentPayment_Student]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_User]
GO
ALTER TABLE [dbo].[TeacherRating]  WITH CHECK ADD  CONSTRAINT [FK_TeacherRating_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[TeacherRating] CHECK CONSTRAINT [FK_TeacherRating_Course]
GO
ALTER TABLE [dbo].[TeacherRating]  WITH CHECK ADD  CONSTRAINT [FK_TeacherRating_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[TeacherRating] CHECK CONSTRAINT [FK_TeacherRating_Student]
GO
ALTER TABLE [dbo].[TeacherRating]  WITH CHECK ADD  CONSTRAINT [FK_TeacherRating_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[TeacherRating] CHECK CONSTRAINT [FK_TeacherRating_Teacher]
GO
